body{
    background-color: dimgray;
}
.center{
    position: absolute;
    translate: (-50%,-50%);
}


input[type="checkbox"]{
    position: absolute;
    height: 15px;
    width:50px;
    border-end-start-radius: 2px;
    -webkit-appearance: none;
    background: linear-gradient(0deg, #333,#000 );
    outline: none;
    border-radius: 25px;
    box-shadow: 0 0 0 4px rgb(85, 84, 84), 0 0 0 5px rgb(41, 39, 39),inset 0 0 0 1px rgba(99, 89, 45, 0.863);
}
input:checked[type="checkbox"]
{
    background: linear-gradient(10deg,rgb(232, 233, 233),rgb(141, 228, 228) );
    box-shadow: 0 0 0 4px rgb(85, 84, 84), 0 0 0 5px rgb(41, 39, 39),inset 0 0 0 1px rgba(99, 89, 45, 0.863);
}
input[type="checkbox"]:before
{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    height: 15px;
    width: 20px;
    background: linear-gradient(0deg, rgb(225, 225, 230),#6b6b6b );
    border-radius: 25px;
    box-shadow: 0 0 0 1px rgb(184, 184, 189);
    transform: scale(.98,.96);
    transition: 1s;
}
input:checked[type="checkbox"]:before
{
    left: 30px;
}
input[type="checkbox"]:after
{
    content: '';
    position: absolute;
    top:6px;
    left: 13px;
    height: 3px;
    width: 3px;
    background: linear-gradient(0deg, rgb(225, 225, 230),#6b6b6b);
    border-radius: 50%;
    transition: 1s;
}
input:checked[type="checkbox"]:after
{
    left: 43px;
    background: aqua;
    box-shadow: 0 0 0 .2px aqua,0 0 0 .2px aqua;
}